/ast_l/ast_l.xcodeproj/project.xcworkspace/xcuserdata/caicai.xcuserdatad
/ast_l/ast_l.xcodeproj/xcuserdata/caicai.xcuserdatad
/ast_l/ast_l.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/.DS_Store
/ast_l/.DS_Store
